<!--느낌표하나만 입력하면 자동완성이 된다.-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/fbv/">새로고침</a><br>
    <!--경로설정에서 앞에 슬래시가 들어가야 새로고침을 해도 정상적으로 페이지가 뜬다.-->

    <form action="" method="GET">
        <input type="text" name="var">
        <!--var이라는 키값으로 blank안의 값이 value로 들어온다.-->
        <!--url의 ?var=''에 입력하면 querystring으로도 들어온다.-->
        <input type="submit" value="GET 제출">
    </form>

    <form action="" method="POST"> {% csrf_token %}

        <input type="text" name="var">
        <!--GET에는 아무것도 없고, var에 입력값이 들어옴.-->
        <input type="submit" value="POST 제출">
    </form>
</body>
</html>